In [3]:
#import modules
import sklearn as sk
import numpy as np
import tensorflow as tf
import matplotlib as plt
import pandas as pd

# REGRESSION

In [10]:
# import regression data set
winedata=pd.read_csv('winequality-red.csv', index_col=False)

In [ ]:
# clean data

In [ ]:
# logistic regression

In [ ]:
# support vector machines

In [ ]:
# decision trees and multi-layer

In [ ]:
# perceptron neural network.

In [ ]:
# evaluation

# CLASSIFICATION

In [4]:
# import classifcation data set
df=pd.read_csv('adult.csv', index_col=False)

In [12]:
# clean data
df = df[df.Occupation.notnull()]
df.head(125)

,Age,Workclass,Fnlwgt,Education,Education-num,Marital-Status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,Sum
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,47,Private,287828,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,>50K
126,20,Private,111697,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,1719,28,United-States,<=50K
127,31,Private,114937,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K
129,39,Private,365739,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
130,28,Private,69621,Assoc-acdm,12,Never-married,Sales,Not-in-family,White,Female,0,0,60,United-States,<=50K

In [ ]:
# logistic regression

In [ ]:
# support vector machines

In [ ]:
# decision trees and multi-layer

In [ ]:
# perceptron neural network.

In [ ]:
# evaluation