In [1]:
#import modules
import sklearn as sk
import seaborn as sns
import numpy as np
import tensorflow as tf
import matplotlib as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn.svm import SVC

# REGRESSION

In [7]:
# import regression data set
winedata=pd.read_csv('winequality-red.csv', index_col=False)

In [5]:
# clean data
d = preprocessing.normalize(winedata)
df = pd.DataFrame(d, columns=winedata.columns)
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0.193478,0.018302,0.000000,0.049677,0.001987,0.287602,0.888952,0.026088,0.091771,0.014642,0.245769,0.130728
1,0.106989,0.012071,0.000000,0.035663,0.001344,0.342913,0.919006,0.013673,0.043893,0.009327,0.134422,0.068583
2,0.134949,0.013149,0.000692,0.039793,0.001592,0.259517,0.934261,0.017249,0.056402,0.011246,0.169551,0.086506
3,0.173611,0.004340,0.008681,0.029452,0.001163,0.263517,0.930059,0.015470,0.048983,0.008991,0.151910,0.093006
4,0.193478,0.018302,0.000000,0.049677,0.001987,0.287602,0.888952,0.026088,0.091771,0.014642,0.245769,0.130728

In [ ]:
# logistic regression

In [ ]:
# support vector machines

In [ ]:
skip = true

In [ ]:
#Y data
le = LabelEncoder()
df['quality'] = le.fit_transform(df['quality'])

if(skip):
    df = df.groupby("quality").filter(lambda x: len(x) > 1)
y = df['quality']

#X data
X = df.drop('quality', axis=1)
scaler = StandardScaler()
Xs = scaler.fit_transform(X)

In [ ]:
if(skip):
    Xs_train, Xs_test, y_train, y_test = train_test_split(Xs, y, test_size=0.5, random_state=1, stratify=y)
else:
    Xs_train, Xs_test, y_train, y_test = train_test_split(Xs, y, test_size=0.3, random_state=1, stratify=y)

In [ ]:
clf = SVC(C=1.0, kernel='rbf', degree=3, gamma='auto', probability=True)
clf.fit(Xs_train, y_train)

In [ ]:
classifier_score = clf.score(Xs_test, y_test)
print('The classifier accuracy score is {:03.2f}'.format(classifier_score))

In [ ]:
# decision trees and multi-layer

In [ ]:
# perceptron neural network.

In [ ]:
# evaluation

# CLASSIFICATION

In [2]:
# import classifcation data set
df=pd.read_csv('adult.csv', index_col=False)
df.isnull().sum()

Age                  0
Workclass         1836
Fnlwgt               0
Education            0
Education-num        0
Marital-Status       0
Occupation        1843
Relationship         0
Race                 0
Sex                  0
Capital-gain         0
Capital-loss         0
Hours-per-week       0
Native-country     583
Sum                  0
dtype: int64

In [3]:
# clean data

dfclean = df.dropna() # Drops rows with empty values
dfclean.isnull().sum()
dfclean.loc[dfclean['Age'] > 80].shape[0]
#dfclean[dfclean.Age >80].sum
#sns.boxplot(dfclean['Age'])

#data_mean = df.iloc[:, :]
#data_mean.plot(kind='box', subplots=True, layout=(8,4), sharex=False,
#sharey=False, fontsize=12, figsize=(15,20))

75

In [4]:
dfclean.duplicated().sum()

23

In [5]:
dfdropd = dfclean.drop_duplicates()
dfdropd.duplicated().sum()

0

In [6]:
labelencoder = LabelEncoder()
dfcopy = dfdropd.copy()
#df1 = labelencoder.fit_transform(dfdropd['Sex'])
dfcopy['Race'] = labelencoder.fit_transform(dfcopy['Race'])
dfcopy['Sex'] = labelencoder.fit_transform(dfcopy['Sex'])
dfcopy['Occupation'] = labelencoder.fit_transform(dfcopy['Occupation'])
dfcopy['Relationship'] = labelencoder.fit_transform(dfcopy['Relationship'])
dfcopy['Marital-Status'] = labelencoder.fit_transform(dfcopy['Marital-Status'])
dfcopy['Education'] = labelencoder.fit_transform(dfcopy['Education'])
dfcopy['Workclass'] = labelencoder.fit_transform(dfcopy['Workclass'])
dfcopy['Native-country'] = labelencoder.fit_transform(dfcopy['Native-country'])
dfcopy['Sum'] = labelencoder.fit_transform(dfcopy['Sum'])
dfcopy

#dfcopy

,Age,Workclass,Fnlwgt,Education,Education-num,Marital-Status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,Sum
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,2,215646,11,9,0,5,1,4,1,0,0,40,38,0
3,53,2,234721,1,7,2,5,0,2,1,0,0,40,38,0
4,28,2,338409,9,13,2,9,5,2,0,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,257302,7,12,2,12,5,4,0,0,0,38,38,0
32557,40,2,154374,11,9,2,6,0,4,1,0,0,40,38,1
32558,58,2,151910,11,9,6,0,4,4,0,0,0,40,38,0
32559,22,2,201490,11,9,4,0,3,4,1,0,0,20,38,0
32560,52,3,287927,11,9,2,3,5,4,0,15024,0,40,38,1

In [7]:
X = dfcopy[['Fnlwgt']]
# Normalise the features to use zero mean normalisation
# only for the first 10 features, but try yourself to visualise more features
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
dfcopy['Fnlwgt'] = scaler.fit_transform(X)
data = dfcopy
dfcopy

,Age,Workclass,Fnlwgt,Education,Education-num,Marital-Status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,Sum
0,39,5,-1.062676,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,4,-1.007829,9,13,2,3,0,4,1,0,0,13,38,0
2,38,2,0.244669,11,9,0,5,1,4,1,0,0,40,38,0
3,53,2,0.425206,1,7,2,5,0,2,1,0,0,40,38,0
4,28,2,1.406572,9,13,2,9,5,2,0,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,0.638926,7,12,2,12,5,4,0,0,0,38,38,0
32557,40,2,-0.335246,11,9,2,6,0,4,1,0,0,40,38,1
32558,58,2,-0.358567,11,9,6,0,4,4,0,0,0,40,38,0
32559,22,2,0.110688,11,9,4,0,3,4,1,0,0,20,38,0
32560,52,3,0.928780,11,9,2,3,5,4,0,15024,0,40,38,1

In [ ]:
# logistic regression

In [ ]:
# support vector machines

In [ ]:
# decision trees and multi-layer

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
X_train, X_test, y_train, y_test = train_test_split(data.drop('Sum',axis=1), data['Sum'], test_size=.3,random_state=22)
clf = DecisionTreeClassifier(random_state=0)
dtt = clf.fit(X_train, y_train)
predictions = dtt.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, predictions))

0.8038044680380447

In [ ]:
# perceptron neural network.

In [ ]:
# evaluation