In [97]:
#import modules
import sklearn as sk
import seaborn as sns
import numpy as np
import tensorflow as tf
import matplotlib as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# REGRESSION

In [10]:
# import regression data set
winedata=pd.read_csv('winequality-red.csv', index_col=False)

In [ ]:
# clean data

In [ ]:
# logistic regression

In [ ]:
# support vector machines

In [ ]:
# decision trees and multi-layer

In [ ]:
# perceptron neural network.

In [ ]:
# evaluation

# CLASSIFICATION

In [53]:
# import classifcation data set
df=pd.read_csv('adult.csv', index_col=False)
df.isnull().sum()

Age                  0
Workclass         1836
Fnlwgt               0
Education            0
Education-num        0
Marital-Status       0
Occupation        1843
Relationship         0
Race                 0
Sex                  0
Capital-gain         0
Capital-loss         0
Hours-per-week       0
Native-country     583
Sum                  0
dtype: int64

In [72]:
# clean data

dfclean = df.dropna() # Drops rows with empty values
dfclean.isnull().sum()
dfclean.loc[dfclean['Age'] > 80].shape[0]
#dfclean[dfclean.Age >80].sum
#sns.boxplot(dfclean['Age'])

#data_mean = df.iloc[:, :]
#data_mean.plot(kind='box', subplots=True, layout=(8,4), sharex=False,
#sharey=False, fontsize=12, figsize=(15,20))

75

In [95]:
dfclean.duplicated().sum()

23

In [145]:
dfdropd = dfclean.drop_duplicates()
dfdropd.duplicated().sum()

0

In [152]:
labelencoder = LabelEncoder()
dfcopy = dfdropd.copy()
#df1 = labelencoder.fit_transform(dfdropd['Sex'])
dfcopy['Race'] = labelencoder.fit_transform(dfcopy['Race'])
dfcopy['Sex'] = labelencoder.fit_transform(dfcopy['Sex'])
dfcopy['Occupation'] = labelencoder.fit_transform(dfcopy['Occupation'])
dfcopy['Relationship'] = labelencoder.fit_transform(dfcopy['Relationship'])
dfcopy['Marital-Status'] = labelencoder.fit_transform(dfcopy['Marital-Status'])
dfcopy['Education'] = labelencoder.fit_transform(dfcopy['Education'])
dfcopy['Workclass'] = labelencoder.fit_transform(dfcopy['Workclass'])
dfcopy['Native-country'] = labelencoder.fit_transform(dfcopy['Native-country'])
dfcopy['Sum'] = labelencoder.fit_transform(dfcopy['Sum'])
dfcopy

,Age,Workclass,Fnlwgt,Education,Education-num,Marital-Status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,Sum
0,39,5,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,4,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,2,215646,11,9,0,5,1,4,1,0,0,40,38,0
3,53,2,234721,1,7,2,5,0,2,1,0,0,40,38,0
4,28,2,338409,9,13,2,9,5,2,0,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,257302,7,12,2,12,5,4,0,0,0,38,38,0
32557,40,2,154374,11,9,2,6,0,4,1,0,0,40,38,1
32558,58,2,151910,11,9,6,0,4,4,0,0,0,40,38,0
32559,22,2,201490,11,9,4,0,3,4,1,0,0,20,38,0
32560,52,3,287927,11,9,2,3,5,4,0,15024,0,40,38,1

In [52]:
# logistic regression

In [ ]:
# support vector machines

In [ ]:
# decision trees and multi-layer

In [ ]:
# perceptron neural network.

In [ ]:
# evaluation