In [3]:
#import modules
import sklearn as sk
import numpy as np
import tensorflow as tf
import matplotlib as plt
import pandas as pd

# REGRESSION

In [6]:
# import regression data set
winedata=pd.read_csv('winequality-red.csv', index_col=False)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
# clean data

In [ ]:
# logistic regression

In [ ]:
# support vector machines

In [ ]:
# decision trees and multi-layer

In [ ]:
# perceptron neural network.

In [ ]:
# evaluation

# CLASSIFICATION

In [8]:
# import classifcation data set
adultdata=pd.read_csv('adult.csv', index_col=False)
adultdata.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [ ]:
# clean data

In [ ]:
# logistic regression

In [ ]:
# support vector machines

In [ ]:
# decision trees and multi-layer

In [ ]:
# perceptron neural network.

In [ ]:
# evaluation